<a href="https://colab.research.google.com/github/GeraldineQuispeT/Programacion101_UTEC/blob/main/01_Introduccion_a_Python/02_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [1]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [2]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

manzana pera

In [3]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

['manzana', 'plátano', 'naranja', 'uva', 'pera']

### Ejemplo 1.2: Métodos útiles de listas

In [4]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

['manzana', 'plátano', 'naranja', 'uva', 'pera', 'kiwi']

In [5]:

# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)

['manzana', 'plátano', 'mango', 'naranja', 'uva', 'pera', 'kiwi']

In [6]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

['manzana', 'plátano', 'mango', 'uva', 'pera', 'kiwi']

In [7]:
# Ordenar una lista
frutas.sort()
print(frutas)

['kiwi', 'mango', 'manzana', 'pera', 'plátano', 'uva']

In [8]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)

['uva', 'plátano', 'pera', 'manzana', 'mango', 'kiwi']

### Ejemplo 1.3: Operaciones numéricas con listas

In [9]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

Mínimo: 0
Máximo: 9
Suma: 45
Mínimo: 1
Máximo: 10
Suma total: 55
Cantidad de elementos: 10
Promedio: 5.5

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [10]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

Números del 1 al 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

Números pares del 2 al 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)

Números en orden inverso: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

Múltiplos de 5 entre 0 y 50: [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

### Ejemplo 2.1: Generación de listas por comprensión

In [14]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [16]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

['Juan', 'Pedro', 'Ana', 'Maria']

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [17]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [18]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

['a', 'b', 'c']

In [19]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

['d', 'e', 'f', 'g', 'h']

In [20]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

['g', 'h']

### Ejemplo 3.2: Slicing con pasos

In [21]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [22]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

[2, 4, 6, 8, 10]

In [23]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

[1, 4, 7, 10]

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

In [27]:
numeros = list(range(1,101))

print("Primeros 10 numeros: ",numeros[0:11])
print("Primeros 10 numeros: ",numeros[-10:])
print("Primeros 10 numeros: ",numeros[1::2])

Primeros 10 numeros:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Primeros 10 numeros:  [91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Primeros 10 numeros:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
palabras=["uno","dos","tres"]

palabras[:len(palabras//2)]

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
# dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

In [44]:
# Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
camisetas = [13, 12, 8, 25, 22, 10, 17]
pantalones = [10, 20, 40, 56, 79, 30, 30]
zapatos = [5, 1, 1, 2, 4, 6, 9]

In [45]:
# Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
ult3d_camisetas = camisetas[-3:]
ult3d_pantalones = pantalones[-3:]
ult3d_zapatos = zapatos[-3:]

print("Las ventas de los ultimos 3 dias de camisetas son: ",ult3d_camisetas)
print("Las ventas de los ultimos 3 dias de pantalones son: ",ult3d_pantalones)
print("Las ventas de los ultimos 3 dias de zapatos son: ",ult3d_zapatos)

Las ventas de los ultimos 3 dias de camisetas son:  [22, 10, 17]
Las ventas de los ultimos 3 dias de pantalones son:  [79, 30, 30]
Las ventas de los ultimos 3 dias de zapatos son:  [4, 6, 9]

In [46]:
# Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.
ventas_camisetas = sum([venta for venta in camisetas])
prom_camisetas = ventas_camisetas/len(camisetas)

ventas_pantalones = sum([venta for venta in pantalones])
prom_pantalones = ventas_pantalones/len(pantalones)

ventas_zapatos = sum([venta for venta in zapatos])
prom_zapatos = ventas_zapatos/len(zapatos)

print("El total de ventas de camisetas es: ",ventas_camisetas," y el promedio diario es ",round(prom_camisetas,0))
print("El total de ventas de pantalones es: ",ventas_pantalones," y el promedio diario es ",round(prom_pantalones,0))
print("El total de ventas de zapatos es: ",ventas_zapatos," y el promedio diario es ",round(prom_zapatos,0))

El total de ventas de camisetas es:  107  y el promedio diario es  15.0
El total de ventas de pantalones es:  265  y el promedio diario es  38.0
El total de ventas de zapatos es:  28  y el promedio diario es  4.0

In [47]:
# Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.
def clasifica_productos(promedio_diario):
  if promedio_diario > 5:
    return "buenas ventas"
  else:
    return "malas ventas"

print("La clasificacion del producto camisetas es", clasifica_productos(prom_camisetas))
print("La clasificacion del producto pantalones es", clasifica_productos(prom_pantalones))
print("La clasificacion del producto zapatos es", clasifica_productos(prom_zapatos))

La clasificacion del producto camisetas es buenas ventas
La clasificacion del producto pantalones es buenas ventas
La clasificacion del producto zapatos es malas ventas

---

# Gracias por completar este laboratorio!

---